/* css styles */

/* target the exact table cells inside our custom paleo container */
.paleo-table table {
  width: 100%;
  border-collapse: collapse;
}

.paleo-table th {
  background-color: #D17376 !important; /* Dark Gray Header */
  color: #282E25 !important;            /* White Text */
  text-align: left !important;
  padding: 10px;
}

.paleo-table td {
  background-color: #D6C3C3 !important; /* Light Gray Rows */
  color: #212529 !important;            /* Dark Text */
  text-align: left !important;          /* Keeps text left-aligned */
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}
